.tagCloud {
  width: 280px;
  background-color: rgb(255, 255, 255);
  padding: 0 20px 10px;
  box-sizing: border-box;
  .title {
    font-size: 16px;
    text-align: left;
    padding: 40px 0 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    &::after {
      content: "";
      width: 64px;
      height: 2px;
      background-color: rgb(0, 0, 0);
      display: block;
      margin-top: 10px;
      transition: 0.5s all;
    }
    &:hover {
      &::after {
        width: 80px;
      }
    }
  }
  .content {
    padding: 0;
    &::after,
    &::before {
      content: "";
      display: block;
      clear: both;
      overflow: hidden;
    }
    .item {
      line-height: 24px;
      height: 24px;
      display: block;
      background: #999;
      float: left;
      padding: 3px 10px;
      margin: 10px 5px 0 0;
      border-radius: 3px;
      transition: all 0.5s;
      color: #fff;
      font-size: 15px;
      text-decoration: none;
      &:hover {
        border-radius: 0;
        text-shadow: #000 1px 1px 1px;
      }
      &:nth-child(8n) {
        background: #83af9b;
      }
      &:nth-child(8n-1) {
        background: #c8c8a9;
      }
      &:nth-child(8n-2) {
        background: #edc951;
      }
      &:nth-child(8n-3) {
        background: #fc9d9a;
      }
      &:nth-child(8n-4) {
        background: #fe4365;
      }
      &:nth-child(8n-5) {
        background: #3fb8af;
      }
      &:nth-child(8n-6) {
        background: #eb6841;
      }
      &:nth-child(8n-7) {
        background: #8a9b0f;
      }
      &:nth-child(8n) {
        background: #83af9b;
      }
      &:first-child {
        background: #036564;
      }
    }
  }
}
