.icon-btn {
  width: 40px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.right {
  border-right: 1px solid rgb(212, 213, 217);
}
.left {
  border-left: 1px solid rgb(212, 213, 217);
}
